In [11]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [12]:
user_df = pd.read_csv('./user.csv', encoding = "Latin1", sep = ",")
club_df = pd.read_csv('./club.csv', encoding = "Latin1", sep = ",")
club_user_df = pd.read_csv('./club_user.csv', encoding = "Latin1", sep = ",")

my_age = 30

# Collaborative Filtering

In [13]:
club_user_age = club_user_df.merge(user_df, left_on = 'user_id', right_on = 'id')
club_user_age = club_user_age[['id_x', 'club_id', 'user_id', 'age']]

club_user_age

# This is the average age of all users--we need the average age of the users in each club
# club_user_age["age"].mean()

     id_x  club_id  user_id  age
0      51       15    10024   44
1     126       21    10024   44
2     147       21    10024   44
3     460       16    10024   44
4      52       14   166298   88
..    ...      ...      ...  ...
495   545       21   152179  136
496   546       12    55188   89
497   547       17    25407   32
498   548       21    41564  108
499   550       18    23014  129

[500 rows x 4 columns]

In [37]:
average_club_age_df = club_user_age.groupby(['club_id'])['age'].mean().reset_index(name='age')
# print(average_club_age_df)
average_club_age_df

   club_id        age
0       12  70.142857
1       13  77.050000
2       14  89.574074
3       15  77.580000
4       16  83.568182
5       17  68.631579
6       18  72.366667
7       19  89.119048
8       20  85.192982
9       21  68.361702

In [39]:
# finds and returns club_id with the closest age average
age_list = list(average_club_age_df['age'])

new_age_list = []
for i in age_list:
    new_age_list.append(i - my_age)
lstt = [abs(ele) for ele in new_age_list]
closest_age = age_list[lstt.index(min(lstt))]
club_with_closest_age = average_club_age_df.loc[average_club_age_df['age'] == closest_age, 'club_id'].reset_index(name = 'club_id')
club_with_closest_age

   index  club_id
0      9       21

In [4]:
d ={}
for i,j in enumerate(club_user_book.ISBN.unique()):
    d[j] =i
club_user_book['unique_id_book'] = club_user_book['ISBN'].map(d)

In [5]:
users_clubs_pivot_matrix_df = club_user_book.pivot(index='User-ID', 
                                                          columns='unique_id_book', 
                                                          values='Book-book').fillna(0)

In [6]:
users_clubs_pivot_matrix_df.head()

unique_id_book,0,1,2,3,4,5,6,7,8,9,...,26069,26070,26071,26072,26073,26074,26075,26076,26077,26078
User-ID,,,,,,,,,,,,,,,,,,,,,
8,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
users_clubs_pivot_matrix_df = users_clubs_pivot_matrix_df.values
users_clubs_pivot_matrix_df

array([[0., 6., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [8]:
from scipy.sparse.linalg import svds

NUMBER_OF_FACTORS_MF = 15

#Performs matrix factorization of the original user item matrix
U, sigma, Vt = svds(users_clubs_pivot_matrix_df, k = NUMBER_OF_FACTORS_MF)

In [9]:
sigma = np.diag(sigma)
sigma.shape

(15, 15)

In [10]:
all_user_predicted_books = np.dot(np.dot(U, sigma), Vt) 
all_user_predicted_books

array([[ 0.00000000e+00,  3.01145261e-34, -1.44341941e-34, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 0.00000000e+00,  3.58780903e-38, -3.19805495e-38, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 0.00000000e+00,  5.38921851e-35, -1.80280872e-34, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       ...,
       [ 0.00000000e+00,  1.53681908e-35, -3.57548715e-36, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 0.00000000e+00,  3.91903239e-34, -5.66829937e-36, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 0.00000000e+00, -1.00020459e-35, -1.05741351e-34, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00]])

In [11]:
def top_cosine_similarity(data, club_id, top_n=10):
    index = club_id 
    club_row = data[index, :]
    magnitude = np.sqrt(np.einsum('ij, ij -> i', data, data))
    similarity = np.dot(club_row, data.T) / (magnitude[index] * magnitude)
    sort_indexes = np.argsort(-similarity)
    return sort_indexes[:top_n]

def similar_clubs(club_user_book, club_id, top_indexes):
    print('Recommendations for {0}: \n'.format(
    club_user_book[club_user_book.unique_id_club == club_id]['Book-Title'].values[0]))
    for id in top_indexes + 1:
        print(club_user_book[club_user_book.unique_id_club == id]['Book-Title'].values[0])

In [12]:
k = 50
movie_id =25954  
top_n = 3
sliced = Vt.T[:, :k] # representative data

similar_clubs(club_user_book, 25954, top_cosine_similarity(sliced, movie_id, top_n))

Recommendations for Pulse Points:

The Witchfinder (Amos Walker Mystery Series)
Alone in a Crowd (Harper Monogram)
Jackie Oh

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in true_divide
  """

# App link:

https://book-recommendation-system-svd.herokuapp.com/