In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf 
from sklearn.preprocessing import MinMaxScaler

2022-03-17 10:34:47.550410: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-03-17 10:34:47.550440: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [3]:

rating = pd.read_csv('books.csv', sep=';', encoding="latin-1")
user = pd.read_csv('users.csv', sep=';',encoding="latin-1")
book = pd.read_csv('ratings.csv', sep=';', encoding="latin-1")

### to do

- store predicitions for all users (for [i] in df show pred)
- function for returning the pred

In [4]:
# df.copy() lets you create a copy of the df in order to not show warnings
# df.unique() or df["Age"].unique creates an array which can be itirated over
# in order to return a df and not a series use two brackets: df_data = df_age[["Age"]]

### merging data and filtering by rating

In [5]:
# merge user rating and book data
book_rating = pd.merge(rating, book, on='ISBN')

#remove unwanted columns
cols = ['Year-Of-Publication', 'Publisher', 'Book-Author', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L']
book_rating.drop(cols, axis=1, inplace=True)

In [6]:
book_rating.head()

         ISBN           Book-Title  User-ID  Book-Rating
0  0195153448  Classical Mythology        2            0
1  0002005018         Clara Callan        8            5
2  0002005018         Clara Callan    11400            0
3  0002005018         Clara Callan    11676            8
4  0002005018         Clara Callan    41385            0

In [7]:
# filtering books that have had => 25 ratings

rating_count = (book_rating.
     groupby(by = ['Book-Title'])['Book-Rating'].
     count().
     reset_index().
     rename(columns = {'Book-Rating': 'RatingCount_book'})
     [['Book-Title', 'RatingCount_book']]
    )

threshold = 25
rating_count = rating_count.query('RatingCount_book >= @threshold')

In [8]:
book_rating.head()

         ISBN           Book-Title  User-ID  Book-Rating
0  0195153448  Classical Mythology        2            0
1  0002005018         Clara Callan        8            5
2  0002005018         Clara Callan    11400            0
3  0002005018         Clara Callan    11676            8
4  0002005018         Clara Callan    41385            0

In [9]:
# filtering users that have given => 20 ratings

user_rating = pd.merge(rating_count, book_rating, left_on='Book-Title', right_on='Book-Title', how='left')

user_count = (user_rating.
     groupby(by = ['User-ID'])['Book-Rating'].
     count().
     reset_index().
     rename(columns = {'Book-Rating': 'RatingCount_user'})
     [['User-ID', 'RatingCount_user']]
    )
    
threshold = 20
user_count = user_count.query('RatingCount_user >= @threshold')

combined = user_rating.merge(user_count, left_on = 'User-ID', right_on = 'User-ID', how = 'inner')

print('Number of unique books: ', combined['Book-Title'].nunique())
print('Number of unique users: ', combined['User-ID'].nunique())

Number of unique books:  5850
Number of unique users:  3192

In [10]:
# normalise the rating feature

scaler = MinMaxScaler()
combined['Book-Rating'] = combined['Book-Rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(combined['Book-Rating'].values.reshape(-1,1)))
combined['Book-Rating'] = rating_scaled

### create user - book matrix

In [11]:

# creating user - book matrix 

combined = combined.drop_duplicates(['User-ID', 'Book-Title'])
user_book_matrix = combined.pivot(index='User-ID', columns='Book-Title', values='Book-Rating')
user_book_matrix.fillna(0, inplace=True)
users = user_book_matrix.index.tolist()
books = user_book_matrix.columns.tolist()
user_book_matrix = user_book_matrix.to_numpy()

In [12]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /home/niki/miniconda3/lib/python3.9/site-packages/tensorflow/python/compat/v2_compat.py:107: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [13]:
# set up of network parameters, such as dimensions of each hidden layer 

num_input = combined['Book-Title'].nunique()
num_hidden_1 = 10
num_hidden_2 = 5

# initialise the TensorFlow placeholder
X = tf.placeholder(tf.float64, [None, num_input])

# weights and biases are randomly initialised
weights = {
    'encoder_h1': tf.Variable(tf.random_normal([num_input, num_hidden_1], dtype=tf.float64)),
    'encoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_hidden_2], dtype=tf.float64)),
    'decoder_h1': tf.Variable(tf.random_normal([num_hidden_2, num_hidden_1], dtype=tf.float64)),
    'decoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_input], dtype=tf.float64)),
}

biases = {
    'encoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'encoder_b2': tf.Variable(tf.random_normal([num_hidden_2], dtype=tf.float64)),
    'decoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'decoder_b2': tf.Variable(tf.random_normal([num_input], dtype=tf.float64)),
}

### build the encode / decode model & create predictions

In [14]:
# building the encode & decode model 

def encoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['encoder_h1']), biases['encoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['encoder_h2']), biases['encoder_b2']))
    return layer_2

def decoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['decoder_h1']), biases['decoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['decoder_h2']), biases['decoder_b2']))
    return layer_2

In [15]:
# construct model and create predicitions

encoder_op = encoder(X)
decoder_op = decoder(encoder_op)
y_pred = decoder_op
y_true = X

In [16]:
# define loss function and optimiser, minimize the squared error, and define the evaluation metrics
loss = tf.losses.mean_squared_error(y_true, y_pred)
optimizer = tf.train.RMSPropOptimizer(0.03).minimize(loss)
eval_x = tf.placeholder(tf.int32, )
eval_y = tf.placeholder(tf.int32, )
pre, pre_op = tf.metrics.precision(labels=eval_x, predictions=eval_y)

WARNING:tensorflow:From /home/niki/miniconda3/lib/python3.9/site-packages/tensorflow/python/training/rmsprop.py:188: calling Ones.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [17]:
# initialising placeholders and variables
init = tf.global_variables_initializer()
local_init = tf.local_variables_initializer()

# df for storing predictions
pred_data = pd.DataFrame()

### training the model

In [18]:
with tf.Session() as session:
    epochs = 10
    batch_size = 35

    session.run(init)
    session.run(local_init)

    num_batches = int(user_book_matrix.shape[0] / batch_size)
    user_book_matrix = np.array_split(user_book_matrix, num_batches)
    
    for i in range(epochs):

        avg_cost = 0
        for batch in user_book_matrix:
            _, l = session.run([optimizer, loss], feed_dict={X: batch})
            avg_cost += l

        avg_cost /= num_batches

        print("epoch: {} Loss: {}".format(i + 1, avg_cost))

    user_book_matrix = np.concatenate(user_book_matrix, axis=0)

    preds = session.run(decoder_op, feed_dict={X: user_book_matrix})

    pred_data = pred_data.append(pd.DataFrame(preds))

    pred_data = pred_data.stack().reset_index(name='Book-Rating')
    pred_data.columns = ['User-ID', 'Book-Title', 'Book-Rating']
    pred_data['User-ID'] = pred_data['User-ID'].map(lambda value: users[value])
    pred_data['Book-Title'] = pred_data['Book-Title'].map(lambda value: books[value])
    
    keys = ['User-ID', 'Book-Title']
    index_1 = pred_data.set_index(keys).index
    index_2 = combined.set_index(keys).index

2022-03-17 10:34:55.809131: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2022-03-17 10:34:55.809170: W tensorflow/stream_executor/cuda/cuda_driver.cc:269] failed call to cuInit: UNKNOWN ERROR (303)
2022-03-17 10:34:55.809201: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (chiaseed): /proc/driver/nvidia/version does not exist
2022-03-17 10:34:55.810575: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

epoch: 1 Loss: 0.3345386674115946
epoch: 2 Loss: 0.2849593309910743
epoch: 3 Loss: 0.0722514365666679
epoch: 4 Loss: 0.003811933026024765
epoch: 5 Loss: 0.0031137868063524365
epoch: 6 Loss: 0.0029711890940114366
epoch: 7 Loss: 0.0029331980296154764
epoch: 8 Loss: 0.0029115860560233447
epoch: 9 Loss: 0.0028977240602086696
epoch: 10 Loss: 0.0028881112223613885

/tmp/ipykernel_85352/3131666910.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pred_data = pred_data.append(pd.DataFrame(preds))

### testing the model

In [19]:
# pred_data.shape

In [8]:
# top ten books by user
top_ten_ranked = pred_data[~index_1.isin(index_2)] 
top_ten_ranked = top_ten_ranked.sort_values(['User-ID', 'Book-Rating'], ascending=[True, False])
top_ten_ranked = top_ten_ranked.groupby('User-ID').head(10)

NameError: name 'pred_data' is not defined

In [7]:
# top ten for chosen user
top_ten_ranked.loc[top_ten_ranked['User-ID'] == 278582]

NameError: name 'top_ten_ranked' is not defined

In [2]:
# df_pred = top_ten_ranked.loc[top_ten_ranked['User-ID'] == 278582]

In [3]:
# other books rated by chosen user

# book_rating.loc[book_rating['User-ID'] == 278582].sort_values(by=['Book-Rating'], ascending=False)

In [4]:
# pred_data.head(235)

## cleaning data

#### df books

In [9]:
# removing image columns
# df_books_cleaned = df_books[['ISBN','Book-Title', 'Book-Author','Year-Of-Publication','Publisher']]

In [ ]:
df_books_cleaned.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company

In [ ]:
# clean all rows that contain some nan
df_books_cleaned = df_books_cleaned.dropna(how='any')

In [ ]:
# books that are published between 1950 to 2016

df_books_cleaned = df_books_cleaned[(df_books_cleaned['Year-Of-Publication'] > 1950) & (df_books_cleaned['Year-Of-Publication'] <= 2016)]

In [ ]:
# regex-based replacement of certain characters
df_books_cleaned['Book-Author'] = df_books_cleaned['Book-Author'].str.replace(r'[^\w\s]+', '')

/tmp/ipykernel_7304/1979341940.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_books_cleaned['Book-Author'] = df_books_cleaned['Book-Author'].str.replace(r'[^\w\s]+', '')

In [ ]:
# df still contains shit like this: ('A MunnÃJordÃ\xa0', 1) --- not solved

x,y = np.unique(df_books_cleaned['Book-Author'], return_counts=True)

[(x[i],y[i]) for i in range(len(x))]

[(' D Chiel', 1),
 (' J D Landis', 1),
 (' Mimma Balia', 1),
 ('142 moms from all over the world', 1),
 ('1977 Inaugural Committee US', 1),
 ('1st Graders of Samuel s Nixon School Carnegie Penn', 1),
 ('21st Century Publishing', 1),
 ('73 Magazine Editors', 1),
 ('A  C Black Ltd', 1),
 ('A  E Television Network', 2),
 ('A A  Winnie the Pooh Milne', 1),
 ('A A  WinnieThePooh Milne', 2),
 ('A A Attanasio', 9),
 ('A A Carr', 1),
 ('A A Gill', 1),
 ('A A Hoehing', 1),
 ('A A Hoehling', 2),
 ('A A Milne', 47),
 ('A A Sveshnikov', 1),
 ('A A Winnie the Pooh Milne', 1),
 ('A Adams', 1),
 ('A Alice', 1),
 ('A Alli', 1),
 ('A Alvarez', 3),
 ('A Anatoli', 1),
 ('A AndersonEvangelista', 1),
 ('A Avalon', 1),
 ('A B C Whipple', 1),
 ('A B Guthrie', 2),
 ('A B Jr Guthrie', 2),
 ('A B Simpson', 2),
 ('A B Yehoshua', 5),
 ('A Balfour', 1),
 ('A Barrie', 2),
 ('A Bartlett Giamatti', 1),
 ('A Bates', 7),
 ('A Blue Mountain Arts Collection', 1),
 ('A Breton', 1),
 ('A Brill', 1),
 ('A Bronte', 1),
 ('A Bruce Carlson', 1),
 ('A Bry', 1),
 ('A Buero Vallejo', 1),
 ('A C Alan C Weisbecker', 1),
 ('A C Ann C Crispin', 1),
 ('A C Baantjer', 2),
 ('A C Bhaktivedanta Swami Prabhupada', 20),
 ('A C Bhaktivedanta Swami Prabhupada et al', 1),
 ('A C Bradley', 1),
 ('A C Cawley', 1),
 ('A C Crispin', 7),
 ('A C Doyle', 4),
 ('A C FoxDavies', 1),
 ('A C Gordon', 1),
 ('A C Grayling', 3),
 ('A C Green', 1),
 ('A C H Smith', 3),
 ('A C Parfitt', 2),
 ('A C Prabhupada', 4),
 ('A C Robin Skynner', 1),
 ('A C Scott', 1),
 ('A C Spearing', 1),
 ('A C Weisbecker', 3),
 ('A Carman Clark', 2),
 ('A Colin Day', 1),
 ('A Cort Sinnes', 4),
 ('A Cross', 2),
 ('A D Ball', 1),
 ('A D Francis', 4),
 ('A D Harvey', 1),
 ('A D Mills', 1),
 ('A D Nauman', 1),
 ('A D Smith', 1),
 ('A D Thorp', 1),
 ('A D Winans', 1),
 ('A Daly', 1),
 ('A Daudet', 1),
 ('A DhÃÂtel', 1),
 ('A Dickey', 1),
 ('A Dolge', 1),
 ('A Dumas', 1),
 ('A Duncan Brown', 1),
 ('A E Alfred Elton Van Vogt', 1),
 ('A E Cannon', 1),
 ('A E Hartnik', 1),
 ('A E Hotchner', 3),
 ('A E Housman', 3),
 ('A E J Morris', 1),
 ('A E Johann', 1),
 ('A E Martin', 1),
 ('A E Maxwell', 6),
 ('A E Parker', 5),
 ('A E Smith', 1),
 ('A E Stephan', 1),
 ('A E Van Vogt', 11),
 ('A E W Mason', 2),
 ('A E WilderSmith', 1),
 ('A Edwards', 1),
 ('A Everitt', 1),
 ('A F Gotch', 1),
 ('A F Price', 1),
 ('A F Th van der Heijden', 1),
 ('A F Tschiffely', 1),
 ('A F Wallace', 1),
 ('A Finlayson', 1),
 ('A Finnis', 2),
 ('A First Book', 1),
 ('A Frances', 1),
 ('A Francis', 1),
 ('A Franklin Parks', 1),
 ('A Fraser', 1),
 ('A G Cascone', 18),
 ('A G Eyre', 1),
 ('A G Ford', 1),
 ('A G Gravette', 1),
 ('A G L Shaw', 1),
 ('A G Macdonell', 1),
 ('A G Mojtabai', 1),
 ('A G Smith', 2),
 ('A Ganeri', 1),
 ('A Gayot', 1),
 ('A Grove Day', 1),
 ('A Gryphius', 1),
 ('A H ALMAAS', 2),
 ('A H Benjamin', 1),
 ('A H Japp', 1),
 ('A H KramerLampher', 1),
 ('A Haeworth Robertson', 1),
 ('A Hallam', 1),
 ('A HendersonSellers', 1),
 ('A Herge', 2),
 ('A Hoehling', 1),
 ('A Hoffman', 1),
 ('A Holl', 1),
 ('A Holm', 1),
 ('A Horowitz', 1),
 ('A Hunter', 1),
 ('A I Lure', 1),
 ('A I Oparin', 1),
 ('A J Adler', 1),
 ('A J Archibald Joseph Cronin', 1),
 ('A J Baden Fuller', 1),
 ('A J Baime', 1),
 ('A J Burress', 1),
 ('A J Conyers', 1),
 ('A J Cronin', 2),
 ('A J Drew', 1),
 ('A J Garrotto', 1),
 ('A J Grassby', 1),
 ('A J Hill', 3),
 ('A J Holt', 5),
 ('A J Jacobs', 1),
 ('A J Langguth', 1),
 ('A J Matthews', 1),
 ('A J McClane', 1),
 ('A J Meadows', 1),
 ('A J Orde', 3),
 ('A J Oreilly', 1),
 ('A J Quinnell', 4),
 ('A J Russell', 4),
 ('A J Russo', 1),
 ('A J Stacey', 1),
 ('A J Van der Bent', 1),
 ('A J Verdelle', 1),
 ('A J Wood', 3),
 ('A Jaffe', 1),
 ('A James Arnold', 1),
 ('A Jardin', 1),
 ('A Jarry', 1),
 ('A Jay Abrams', 1),
 ('A Jennings', 1),
 ('A Jones', 2),
 ('A Juno', 1),
 ('A Justin Sterling', 1),
 ('A K  Dewdney', 1),
 ('A K Best', 1),
 ('A K Dewdney', 2),
 ('A K Legg', 1),
 ('A Keith Barton', 1),
 ('A Keith Furr', 1),
 ('A Kenneth Snowman', 1),
 ('A Keyton Weissinger', 2),
 ('A Kiplinger', 1),
 ('A Kollontai', 1),
 ('A L Alexander', 1),
 ('A L Haskett', 2),
 ('A L Karras', 1),
 ('A L Kennedy', 6),
 ('A L Lassieur', 1),
 ('A L Rice', 1),
 ('A L Singer', 9),
 ('A LaFaye', 4),
 ('A Lagarde', 1),
 ('A Laude', 1),
 ('A Leigh Deneef', 1),
 ('A Linzey', 1),
 ('A Lloyd', 1),
 ('A Lynn Berle', 1),
 ('A Lyons', 1),
 ('A M Galopim de Carvalho', 1),
 ('A M Homes', 7),
 ('A M Jenkins', 3),
 ('A M Monson', 3),
 ('A M R Agur', 1),
 ('A M Rosenthal', 2),
 ('A M Sperber', 1),
 ('A M Tibbetts', 1),
 ('A Malcolm Campbell', 1),
 ('A Manette Ansay', 14),
 ('A Martin', 1),
 ('A Mather', 1),
 ('A McKeane', 1),
 ('A Melody', 2),
 ('A Merritt', 2),
 ('A Michael Kahn', 1),
 ('A Monk of the Eastern Church', 1),
 ('A Monnerie', 1),
 ('A Mortimer', 1),
 ('A MunnÃJordÃ\xa0', 1),
 ('A N AfanasÂev', 1),
 ('A N Jeffares', 1),
 ('A N Roquelaure', 6),
 ('A N Wilson', 14),
 ('A Nadaud', 1),
 ('A Nataf', 1),
 ('A Natow', 1),
 ('A Nicholas Fargnoli', 1),
 ('A Nicholas Vardac', 1),
 ('A Norman Jeffares', 2),
 ('A Northedge', 1),
 ('A Olive Wadsworth', 1),
 ('A P Cowie', 1),
 ('A P Herbert', 1),
 ('A P J Abdul Kalam', 1),
 ('A P Porter', 1),
 ('A P Riemer', 1),
 ('A Pablo Iannone', 2),
 ('A Parody', 1),
 ('A Pate', 1),
 ('A Paton', 1),
 ('A Plass', 1),
 ('A Plater', 1),
 ('A Platonov', 1),
 ('A R Ammons', 1),
 ('A R Chandler', 1),
 ('A R Dr Hari', 1),
 ('A R Eguiguren', 1),
 ('A R Guerney', 1),
 ('A R Gurney', 1),
 ('A R Hope', 1),
 ('A R Hope Moncrieff', 1),
 ('A R Melrose', 1),
 ('A R Myers', 1),
 ('A Ralph Epperson', 2),
 ('A Ray Elkins', 2),
 ('A Rich', 2),
 ('A Richard Barber', 1),
 ('A Rimbauld', 1),
 ('A RobbeGrillet', 1),
 ('A Roger Merrill', 1),
 ('A Rosalie David', 1),
 ('A Roy Petrie', 1),
 ('A Rupert Hall', 1),
 ('A Rushton', 1),
 ('A Ryan Nerz', 1),
 ('A S Byatt', 22),
 ('A S Cua', 1),
 ('A S Hornby', 3),
 ('A S Romanov', 1),
 ('A STERLING', 1),
 ('A Sage', 1),
 ('A SaintExupery', 1),
 ('A Scott Berg', 4),
 ('A Seton', 1),
 ('A Sewell', 1),
 ('A Sherfan', 1),
 ('A Silberschatz', 1),
 ('A Sinclair', 1),
 ('A Siniavskii', 1),
 ('A Soto', 1),
 ('A Sow Fall', 1),
 ('A Sparkes', 1),
 ('A Sperling', 1),
 ('A Stassinopoulos', 1),
 ('A Strindberg', 1),
 ('A Susan Williams', 1),
 ('A T  T', 1),
 ('A T Mann', 4),
 ('A Thomas', 1),
 ('A Tom Topper', 1),
 ('A Towle', 1),
 ('A Trigg', 1),
 ('A Tyrrell', 1),
 ('A V Sellwood', 1),
 ('A Van Dis', 1),
 ('A Verghese', 2),
 ('A W Gray', 2),
 ('A W Moore', 1),
 ('A W Palmer', 1),
 ('A W Reed', 1),
 ('A W Tozer', 2),
 ('A Wainwright', 2),
 ('A Walton Litz', 1),
 ('A Wayne Roberts', 1),
 ('A Westbrook', 1),
 ('A Whitney Brown', 1),
 ('A Wilkes', 3),
 ('A William Robinson', 1),
 ('A Williams', 1),
 ('A Zee', 2),
 ('A den Doolaard', 1),
 ('AA ATTANASIO', 1),
 ('AA Attanasio', 6),
 ('AA Carr', 1),
 ('AA Cumming', 1),
 ('AA Fair', 1),
 ('AA MILNE', 2),
 ('AA Milne', 21),
 ('AAA', 3),
 ('AAA Publishing', 2),
 ('AARON ALLSTON', 1),
 ('AARON HAMBURGER', 1),
 ('AARON LANSKY', 1),
 ('AARON NAPARSTEK', 1),
 ('AAVV', 1),
 ('AB Daniel', 3),
 ('AB Paterson', 1),
 ('ABBE Prevost', 1),
 ('ABRAHAM CAHAN', 1),
 ('ABRAHAM LINCOLN', 2),
 ('AC Bhaktivedanta Swami', 1),
 ('AC Bhaktivedanta Swami Prabhupada', 2),
 ('AC Cawley', 2),
 ('AC Crispin', 18),
 ('AC Ellis', 1),
 ('AC Gordon', 1),
 ('AC Graham', 1),
 ('AC Grayling', 1),
 ('AC Montgomery', 1),
 ('AC Pomahoba', 2),
 ('AD HUDLER', 3),
 ('ADAIR LARA', 1),
 ('ADAM BELLOW', 1),
 ('ADAM GAFFIN', 1),
 ('ADAM HASLETT', 2),
 ('ADAM ROBINSON', 1),
 ('ADAM SMITH', 1),
 ('ADAMS', 1),
 ('ADELE STAN', 1),
 ('ADELE WISEMAN', 1),
 ('ADELINE YEN MAH', 1),
 ('ADRIANA TRIGIANI', 7),
 ('AE Cannon', 1),
 ('AE Ellis', 1),
 ('AE Hotchner', 4),
 ('AE Houseman', 1),
 ('AE Maxwell', 2),
 ('AE Parker', 7),
 ('AE Van Vogt', 9),
 ('AE Waite', 1),
 ('AE Weiss', 1),
 ('AEW Mason', 3),
 ('AEligleen Frisch', 1),
 ('AG Elliot', 1),
 ('AG Mojtabai', 1),
 ('AGATHA CHRISTIE', 3),
 ('AHD', 1),
 ('AHLBERG', 1),
 ('AINSLIE T EMBREE', 1),
 ('AJ Augarde', 1),
 ('AJ Benza', 1),
 ('AJ Butcher', 1),
 ('AJ Chevalier', 1),
 ('AJ Cronin', 3),
 ('AJ Dunning', 1),
 ('AJ JACOBS', 2),
 ('AJ Jacobs', 2),
 ('AJ Langguth', 1),
 ('AJ Liebling', 2),
 ('AJ McCallen', 1),
 ('AJ Orde', 4),
 ('AJ Quinnell', 3),
 ('AJ Russell', 1),
 ('AJ Wood', 3),
 ('AJP Taylor', 2),
 ('AK Dewdney', 2),
 ('AK Legg', 1),
 ('AL FRANKEN', 2),
 ('AL Farley', 1),
 ('AL Kennedy', 2),
 ('AL PERKINS', 4),
 ('AL Singer', 5),
 ('AL WILLIAMS', 1),
 ('AL White', 1),
 ('ALAIN DE BOTTON', 2),
 ('ALAN BENNETT', 1),
 ('ALAN DEAN FOSTER', 8),
 ('ALAN DEUTSCHMAN', 1),
 ('ALAN FURST', 7),
 ('ALAN HOLLINGHURST', 1),
 ('ALAN OKEN', 1),
 ('ALB3', 1),
 ('ALBERT CAMUS', 6),
 ('ALBERT EINSTEIN', 3),
 ('ALBERT FRENCH', 1),
 ('ALBERTO MORAVIA', 2),
 ('ALEKSANDAR HEMON', 2),
 ('ALESSANDRO BOFFA', 1),
 ('ALEX BARKER', 1),
 ('ALEX COMFORT', 1),
 ('ALEX HALEY', 1),
 ('ALEX WELLEN', 1),
 ('ALEX WITCHEL', 1),
 ('ALEXANDER HAMILTON', 1),
 ('ALEXANDER IRVINE', 1),
 ('ALEXANDER MCCALL SMITH', 3),
 ('ALEXANDER PUSHKIN', 1),
 ('ALEXANDRA DAVIDNEEL', 1),
 ('ALEXANDRA FULLER', 2),
 ('ALEXANDRA PENNEY', 1),
 ('ALEXANDRA STODDARD', 1),
 ('ALEXANDRE DUMAS', 4),
 ('ALEXIS DE TOCQUEVILLE', 2),
 ('ALFRED HABEGGER', 1),
 ('ALFRED MASON AMADON', 1),
 ('ALFRED PORTALE', 1),
 ('ALFREDO BRYCEECHENIQUE', 1),
 ('ALI SMITH', 3),
 ('ALICE ADAMS', 1),
 ('ALICE BORCHARDT', 2),
 ('ALICE HOFFMAN', 3),
 ('ALICE KAHN LADAS', 1),
 ('ALICE MCDERMOTT', 1),
 ('ALICE STEINBACH', 2),
 ('ALICE WALKER', 1),
 ('ALISON C ROSE', 1),
 ('ALISON G TAYLOR', 1),
 ('ALISON GORDON', 3),
 ('ALISON MCGHEE', 1),
 ('ALISON WEIR', 3),
 ('ALIX KATES SHULMAN', 1),
 ('ALLAN COLE', 1),
 ('ALLAN GURGANUS', 1),
 ('ALLAN MALLINSON', 1),
 ('ALLAN PEASE', 1),
 ('ALLAN ZOLA KRONZEK', 1),
 ('ALLEN KLEIN', 2),
 ('ALLEN M DVM MS SCHOEN', 1),
 ('ALLEN MANDELBAUM', 2),
 ('ALLIE SHAW', 2),
 ('ALLISON GLOCK', 1),
 ('ALLISON PEARSON', 1),
 ('ALMA GUILLERMOPRIETO', 1),
 ('ALMA R HUTCHENS', 1),
 ('ALVAH SIMON', 1),
 ('ALVIN M JOSEPHY', 1),
 ('ALYSSA BRUGMAN', 1),
 ('ALelia Bundles', 2),
 ('AM HOMES', 2),
 ('AM Homes', 4),
 ('AM Klein', 1),
 ('AM Miandij', 1),
 ('AM Monson', 1),
 ('AM Rosenthal', 2),
 ('AM Tex Johnson', 1),
 ('AMANDA CRAIG', 2),
 ('AMANDA CROSS', 7),
 ('AMANDA QUICK', 2),
 ('AMELIA ATWATERRHODES', 3),
 ('AMELIA KINKADE', 1),
 ('AMIR D ACZEL', 1),
 ('AMIT CHAUDHURI', 1),
 ('AMITAV GHOSH', 1),
 ('AMMIEL HIRSCH', 1),
 ('AMULYA MALLADI', 2),
 ('AMY BLOOM', 2),
 ('AMY CHUA', 1),
 ('AMY DACYCZYN', 1),
 ('AMY GRAY', 1),
 ('AMY KEEHN', 1),
 ('AMY TAN', 2),
 ('AN Jeffares', 8),
 ('AN Ocker', 1),
 ('AN Roquelaure', 3),
 ('AN Wilson', 3),
 ('ANDRE III DUBUS', 2),
 ('ANDREA DI ROBILANT', 2),
 ('ANDREA IMMER', 1),
 ('ANDREA POSNERSANCHEZ', 1),
 ('ANDREA SMITH', 1),
 ('ANDREA VAN STEENHOUSE', 2),
 ('ANDREW BURSTEIN', 1),
 ('ANDREW COHEN', 1),
 ('ANDREW FOX', 1),
 ('ANDREW GUTELLE', 1),
 ('ANDREW LECKEY', 1),
 ('ANDREW MD WEIL', 1),
 ('ANDREW PHD ROSS', 1),
 ('ANDREW SULLIVAN', 2),
 ('ANDREW TODHUNTER', 1),
 ('ANDREW VACHSS', 2),
 ('ANDY', 1),
 ('ANDY BEHRMAN', 2),
 ('ANGELA ELWELL HUNT', 1),
 ('ANGELA Y DAVIS', 1),
 ('ANIKA NAILAH', 1),
 ('ANITA BROOKNER', 6),
 ('ANITA LIBERTY', 1),
 ('ANITA RAU BADAMI', 1),
 ('ANN BARRY', 1),
 ('ANN BEATTIE', 1),
 ('ANN BENSON', 3),
 ('ANN BRASHARES', 3),
 ('ANN BRAYBROOKS', 3),
 ('ANN CAMERON', 1),
 ('ANN COULTER', 3),
 ('ANN HALAM', 1),
 ('ANN LOUISE BARDACH', 1),
 ('ANN LOUISE GITTLEMAN', 1),
 ('ANN PACKER', 2),
 ('ANNA BEER', 1),
 ('ANNA FIENBERG', 1),
 ('ANNA HELD AUDETTE', 1),
 ('ANNA JANE HAYS', 1),
 ('ANNA QUINDLEN', 9),
 ('ANNA SEWELL', 1),
 ('ANNA THOMAS', 2),
 ('ANNE APPLEBAUM', 2),
 ('ANNE BANCROFT', 1),
 ('ANNE BARING', 1),
 ('ANNE D LECLAIRE', 1),
 ('ANNE FINE', 1),
 ('ANNE FRANK', 3),
 ('ANNE MARIE COLBIN', 1),
 ('ANNE MCCAFFREY', 5),
 ('ANNE MORROW LINDBERGH', 1),
 ('ANNE NELSON', 1),
 ('ANNE PERRY', 9),
 ('ANNE PHD MOIR', 1),
 ('ANNE RAMPLING', 1),
 ('ANNE RAVER', 1),
 ('ANNE RICE', 22),
 ('ANNE SCOTT', 1),
 ('ANNE TYLER', 16),
 ('ANNE WALDMAN', 2),
 ('ANNETTE CURTIS KLAUSE', 1),
 ('ANNETTE LAPLACA', 1),
 ('ANNIE COBB', 2),
 ('ANNIE INGLE', 1),
 ('ANNIE WANG', 1),
 ('ANTHONY BRUNO', 1),
 ('ANTHONY C MEISEL', 1),
 ('ANTHONY DE MELLO', 1),
 ('ANTHONY DESTEFANO', 1),
 ('ANTHONY LEWIS', 2),
 ('ANTON CHEKHOV', 2),
 ('ANTONIA FRASER', 5),
 ('AP Dobson', 1),
 ('APPLE JORDAN', 1),
 ('APRIL FROST', 1),
 ('APRIL HALPRIN WAYLAND', 2),
 ('AR Ammons', 1),
 ('AR Morlan', 1),
 ('AR RadcliffeBrown', 1),
 ('AR Riefe', 1),
 ('ARIANNA HUFFINGTON', 1),
 ('ARIEL DORFMAN', 1),
 ('ARLENE J CHAI', 1),
 ('ARRR Roberts', 3),
 ('ART SPIEGELMAN', 3),
 ('ARTHUR C CLARKE', 1),
 ('ARTHUR CONAN DOYLE', 2),
 ('ARTHUR HAILEY', 2),
 ('ARTHUR JEON', 1),
 ('ARTHUR JR LEVITT', 1),
 ('ARTHUR KOESTLER', 1),
 ('ARTHUR PHILLIPS', 2),
 ('ARTHUR SLADE', 1),
 ('ARTHUR WALDHORN', 1),
 ('ARTURO PEREZREVERTE', 1),
 ('ARUNDHATI ROY', 1),
 ('AS  Byatt', 1),
 ('AS BYATT', 4),
 ('AS Byatt', 4),
 ('AS Hitchcock', 2),
 ('ASI Student Project', 1),
 ('ASusan Williams', 1),
 ('AT Hatto', 1),
 ('AT Langford', 1),
 ('AT Mann', 2),
 ('AURELIUS BATTAGLIA', 1),
 ('AW Gray', 2),
 ('AW Mykel', 2),
 ('AW Reed', 1),
 ('AW Tozer', 1),
 ('AYN RAND', 1),
 ('AYYA KHEMA', 1),
 ('AZAR NAFISI', 1),
 ('AaVv', 1),
 ('Aaaaaa', 1),
 ('Aage Henriksen', 1),
 ('Aamer Hussein', 1),
 ('Aaron Acevedo', 1),
 ('Aaron Allston', 10),
 ('Aaron Bank', 2),
 ('Aaron Betsky', 2),
 ('Aaron Cometbus', 1),
 ('Aaron Copland', 4),
 ('Aaron Dean Hall', 1),
 ('Aaron Elkins', 17),
 ('Aaron Fletcher', 11),
 ('Aaron Hass', 1),
 ('Aaron Hicklin', 1),
 ('Aaron HsuFlanders', 3),
 ('Aaron Iceman', 1),
 ('Aaron J Elkins', 10),
 ('Aaron Karo', 1),
 ('Aaron Kramer', 1),
 ('Aaron Latham', 6),
 ('Aaron Lawrence', 1),
 ('Aaron M Davis', 1),
 ('Aaron Maree', 1),
 ('Aaron McGruder', 2),
 ('Aaron Percifull', 1),
 ('Aaron Richard Golub', 1),
 ('Aaron Roy Even', 1),
 ('Aaron Shepard', 1),
 ('Aaron Sorkin', 1),
 ('Aaron Spelling', 2),
 ('Aaron T Beck', 1),
 ('Aaron Weiss', 2),
 ('Aaron Zelman', 1),
 ('Aaron Zerah', 1),
 ('AarÃ³n Cupit', 1),
 ('Aat Vervoorn', 1),
 ('Abba Solomon Eban', 1),
 ('Abbas Milani', 2),
 ('Abbe Lane Leff', 1),
 ('Abbe Prevost', 2),
 ('Abbey', 3),
 ('Abbie F Dr Salny', 1),
 ('Abbie F Salny', 3),
 ('Abbie Hoffman', 6),
 ('Abbie Morgan Madenwald', 1),
 ('Abbie Salny', 2),
 ('Abbie Zabar', 1),
 ('Abbott Burke', 1),
 ('Abby Adams', 3),
 ('Abby Bardi', 2),
 ('Abby Denson', 1),
 ('Abby Frucht', 9),
 ('Abby Goodnough', 1),
 ('Abby Haight', 1),
 ('Abby Kanter', 1),
 ('Abby Levine', 1),
 ('Abby MarksBeale', 1),
 ('Abby Ruoff', 4),
 ('Abd AlHayy Moore', 1),
 ('Abd Talib b Mohd Hassan', 1),
 ('Abdelhak Serhane', 2),
 ('Abdelkebir Khatibi', 1),
 ('Abdellatif LaÃbi', 1),
 ('Abdourahman A Waberi', 1),
 ('Abdourahman Ali Waberi', 1),
 ('AbduLBaha', 1),
 ('Abdul Smith', 1),
 ('Abdullah Hassan', 1),
 ('Abdullah Hussain', 1),
 ('Abdullah Yusuf Ali', 1),
 ('Abdulrazak Gurnah', 1),
 ('Abe Opincar', 1),
 ('Abel Laxamana', 1),
 ('Abel Matias', 1),
 ('Abel Montagut', 1),
 ('Abel Paz', 1),
 ('Abel Pohulanik', 1),
 ('Abel Posse', 3),
 ('Abensur', 1),
 ('Abha Dawesar', 1),
 ('Abi Morgan', 1),
 ('Abigail Adams', 1),
 ('Abigail Browning', 1),
 ('Abigail Dewitt', 1),
 ('Abigail Gordon', 3),
 ('Abigail McDaniels', 3),
 ('Abigail Padgett', 8),
 ('Abigail Reed', 2),
 ('Abigail Stone', 2),
 ('Abigail Tabby', 2),
 ('Abigail Thomas', 7),
 ('Abigail Trafford', 1),
 ('Abigail Van Buren', 3),
 ('Abigale McDaniels', 1),
 ('Abingdon Press', 1),
 ('Abk Publ', 1),
 ('Able Jones', 1),
 ('Abra Taylor', 4),
 ('Abraham  Silberschatz', 1),
 ('Abraham B Yehoshua', 1),
 ('Abraham Cahan', 2),
 ('Abraham Chapman', 1),
 ('Abraham Chill', 1),
 ('Abraham H  Maslow', 1),
 ('Abraham H Lass', 1),
 ('Abraham Harold Lass', 1),
 ('Abraham Harold Maslow', 3),
 ('Abraham J Klausner', 1),
 ('Abraham J Malherbe', 1),
 ('Abraham J Twerski', 2),
 ('Abraham Joshua Heschel', 2),
 ('Abraham Jr Rodriguez', 1),
 ('Abraham Lincoln', 6),
 ('Abraham Merritt', 2),
 ('Abraham Morgentaler', 1),
 ('Abraham N Lieberman', 1),
 ('Abraham Pais', 2),
 ('Abraham Rodriguez', 2),
 ('Abraham Silberschatz', 1),
 ('Abraham Sperling', 1),
 ('Abraham Verghese', 2),
 ('Abrahams Marc', 1),
 ('Abram S Himelstein', 1),
 ('Abram Terts', 1),
 ('Abram Tertz', 3),
 ('Abrams', 6),
 ('Abu', 1),
 ('Abu Hassan Morad', 1),
 ('Abubaker Tafawa Sir Balewa', 1),
 ('Abulkalam M Shamsuddin', 1),
 ('Academic Industry', 1),
 ('Academy of American Poets', 1),
 ('Access Guides', 1),
 ('Access Press', 3),
 ('Access Travel Guides', 1),
 ('Ace Atkins', 6),
 ('Ace Collins', 8),
 ('Ace Starry', 1),
 ('Acharya S', 1),
 ('Achille Campanile', 1),
 ('Achim Broger', 1),
 ('Achim BrÃÂger', 5),
 ('Achmat Dangor', 1),
 ('Achy Obejas', 3),
 ('Action Sounds', 1),
 ('Acton Figueroa', 2),
 ('Ad ten Bosch', 1),
 ('Ad van Iterson', 1),
 ('Ada Bassett Litchfield', 1),
 ('Ada Byrge', 1),
 ('Ada Cambridge', 1),
 ('Ada Fitzwilliam', 1),
 ('Ada Graham', 1),
 ('Ada Muir', 2),
 ('Ada Petrova', 1),
 ('Ada Steward', 6),
 ('Adah Bakalinsky', 1),
 ('Adair', 1),
 ('Adair Lara', 3),
 ('Adalbert A Vogl', 1),
 ('Adalbert De Vogue', 1),
 ('Adalbert Stifter', 3),
 ('Adalee Winter', 1),
 ('Adam Adler', 1),
 ('Adam Bagdasarian', 2),
 ('Adam Barrow', 3),
 ('Adam Beechen', 5),
 ('Adam Berlin', 1),
 ('Adam Brate', 1),
 ('Adam Braver', 3),
 ('Adam Bryan', 1),
 ('Adam C Engst', 3),
 ('Adam Cadre', 2),
 ('Adam Chilson', 1),
 ('Adam Christing', 1),
 ('Adam Cohen', 3),
 ('Adam Cole', 1),
 ('Adam Connell', 1),
 ('Adam Davies', 1),
 ('Adam Dolgins', 2),
 ('Adam Douglas', 1),
 ('Adam Drozdek', 1),
 ('Adam Engst', 1),
 ('Adam Fifield', 2),
 ('Adam Ford', 1),
 ('Adam Gamble', 1),
 ('Adam Gittlin', 1),
 ('Adam Gopnik', 2),
 ('Adam Gottlieb', 1),
 ('Adam Green', 1),
 ('Adam Gussow', 1),
 ('Adam Hall', 17),
 ('Adam Hanft', 1),
 ('Adam HartDavis', 4),
 ('Adam Haslett', 1),
 ('Adam Hochschild', 5),
 ('Adam J Jackson', 3),
 ('Adam Jamrozik', 2),
 ('Adam Johnson', 4),
 ('Adam Kendon', 1),
 ('Adam Kennedy', 3),
 ('Adam Killick', 1),
 ('Adam Klein', 1),
 ('Adam L Penenberg', 1),
 ('Adam Langer', 2),
 ('Adam Lassiter', 2),
 ('Adam Lebor', 2),
 ('Adam Lee', 5),
 ('Adam Long', 1),
 ('Adam M Brandenburger', 1),
 ('Adam Makkai', 1),
 ('Adam Mastoon', 1),
 ('Adam McCauley', 1),
 ('Adam McGovern', 1),
 ('Adam Micxkiewicz', 1),
 ('Adam Mills', 1),
 ('Adam N Joinson', 1),
 ('Adam Nicolson', 7),
 ('Adam Osterweil', 1),
 ('Adam Palmer', 1),
 ('Adam Parkes', 1),
 ('Adam Peltzman', 1),
 ('Adam Pertman', 1),
 ('Adam Phillips', 5),
 ('Adam Pratt', 1),
 ('Adam R Holz', 1),
 ('Adam Rapp', 2),
 ('Adam Roberts', 3),
 ('Adam Robinson', 7),
 ('Adam Sia', 1),
 ('Adam Sisman', 1),
 ('Adam Smith', 10),
 ('Adam Suddaby', 1),
 ('Adam Sygor', 1),
 ('Adam Thirlwell', 1),
 ('Adam Thorpe', 4),
 ('Adam Troy Castro', 1),
 ('Adam Victor', 1),
 ('Adam Warren', 1),
 ('Adam Werbach', 2),
 ('Adam Williams', 1),
 ('Adam Woog', 1),
 ('Adam Yates', 1),
 ('Adam Zameenzad', 1),
 ('Adam Zamoyski', 1),
 ('Adam Zickerman', 1),
 ('AdamTroy Castro', 4),
 ('Adams', 3),
 ('Adams Casey', 1),
 ('Adams Rouns Table', 1),
 ('Adc', 1),
 ('Adc the Map People', 2),
 ('Addams', 1),
 ('Addison Steel', 1),
 ('Addison Wesley', 1),
 ('Addison Wesley Longman', 2),
 ('Adel S Sedra', 1),
 ('Adela Gago Valersi', 1),
 ('Adela Gregory', 1),
 ('Adela Hernandez Gonzmart', 1),
 ('Adela St Johns', 1),
 ('Adela Vergara', 1),
 ('Adelaida GarcÃa Morales', 1),
 ('Adelaide Bry', 3),
 ('Adelaide Holl', 1),
 ('Adelaide Hull', 1),
 ('Adelaide N Baker', 1),
 ('Adelbert von Chamisso', 2),
 ('Adele Ashworth', 5),
 ('Adele Beatrice Lewis', 1),
 ('Adele Crockett Robertson', 3),
 ('Adele De Leeuw', 1),
 ('Adele Droblas Greenberg', 1),
 ('Adele Faber', 10),
 ('Adele Geras', 9),
 ('Adele Getty', 2),
 ('Adele Griffin', 7),
 ('Adele J Haft', 1),
 ('Adele Lang', 7),
 ('Adele M Scheele', 1),
 ('Adele Mongan', 1),
 ('Adele Olivia Gladwell', 1),
 ('Adele Parks', 5),
 ('Adele Puhn', 2),
 ('Adele PuhnAdelepuhn', 1),
 ('Adele Q Brown', 1),
 ('Adele Read', 2),
 ('Adele Roberts', 1),
 ('Adele Robinson', 1),
 ('Adele Wiseman', 1),
 ('Adelheid Ohlig', 1),

#### df users

In [ ]:
# cleaned all rows that contained some nan
df_users_cleaned = df_users.dropna(how='any')

In [ ]:
# removing location column
df_users_cleaned = df_users_cleaned[['User-ID','Age']]

#### df ratings

In [ ]:
# eliminate nans first
df_ratings_cleaned = df_ratings.dropna(how='any')

In [ ]:
# undersampling the dataset by reducing 0-rating

# Put all the 0's in a separate dataset
df_without_zero = df_ratings_cleaned.loc[df_ratings_cleaned['Book-Rating'] != 0]

#Randomly select  observations from the non-fraud (majority class)
df_with_zero = df_ratings_cleaned.loc[df_ratings_cleaned['Book-Rating'] == 0].sample(n=45000,random_state=42)

# Concatenate both dataframes again
df_undersampled_ratings = pd.concat([df_without_zero, df_with_zero])
df_undersampled_ratings

        User-ID        ISBN  Book-Rating
1        276726  0155061224            5
3        276729  052165615X            3
4        276729  0521795028            6
6        276736  3257224281            8
7        276737  0600570967            6
...         ...         ...          ...
511086   124048  0425195473            0
964683   232964  0836220870            0
617446   149306  1930252501            0
214844    50205  0515114863            0
555153   133682  0553290762            0

[478671 rows x 3 columns]

In [ ]:
# distribution of ratings
df_undersampled_ratings.groupby(['Book-Rating']).count() / len(df_undersampled_ratings) * 100

In [ ]:
# count of ratings
df_undersampled_ratings.groupby(['Book-Rating']).count()